<div class="main">
  <h1>Bitte füllen Sie die folgenden Felder aus:</h1>
  <div>
    <form action="/konten/create_konto", method="post">
      Geben Sie hier eine Kontonummer ein:<br>
      <input type="text" name="konto_nr" placeholder="Neue Kontonummer">
      <br>
      Geben Sie hier eine Pin ein:<br>
      <input type="password" name="pin" placeholder="Neue Pin">
      <br><br>
      <button><a href="/" class="cancel_btn">Abbrechen</a></button>
      <input type="submit" value="Bestätigen">
    </form>
  </div>
</div>

<div class="err_msg">
  <% if @err_msg %>
    <p><%= "Fehler: #{@err_msg}" %></p>
  <% end %>
</div>
